<html>
    <head>
      <title> Brendan's Portfolio </title>
      <script type="text/javascript" src="jquery-3.2.1.min.js"></script>            
      <link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection"/>
      <script type="text/javascript" src="materialize.min.js"></script>      
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      
      <link rel="stylesheet" href="style.css" />

    </head>
    <body>
           
        <div>      
<ul>
  <li><a href="#home">Contact</a></li>
  <li><a href="#news">Projects</a></li>
  <li><a href="#contact">About</a></li>
  <li style="float:left"><a class="active">BRENDAN PRINZ</a></li>
</ul>
</div>

<div>
    
</div>

<div class="parallaxone"></div>

<div class= "aboutme">
    <h5>
        <!-- I am <%= person.firstName %> <%= person.lastName %> -->
        About Brendan
    </h5>
    <p class= "aboutmep">
    Creating engaging and practical websites/applications is exciting to me. 
    I love to learn and enjoy exploring new technologies and techniques to enhance my skillset as a web developer.
    In my free time I enjoy hiking, camping as well as editing photos and video I captured using my drone. 
    More things will go here...
    

    </p>
    </div>

<div class="parallaxtwo"></div>
       
<div class="projects">
  <h5 class="projectsheader">Collection of projects</h5>

  <div class="band">
      
       <!-- grid item, containing a card -->
       <div class="item-1">
             <a href="https://bp-f1circuitfinder.herokuapp.com/" class="card">
               <div class="thumb" style="background-image: url(http://ic.c4assets.com/brands/formula-1/series-2/episode-20/fe1b42cd-1d94-4ae4-8c9d-21d6e7273b6a.jpg?interpolation=progressive-bicubic&output-quality=90);"></div>
               <article>
                 <h1>Formula 1 Circuit Finder</h1>
                 <p>Say stuff about using 2 api's and how great I am!</p>
                 
               </article>
             </a>
       </div>
        
       <div class="item-2">
          <a href="https://bp-react100sdtopspots.herokuapp.com/" class="card">
            <div class="thumb" style="background-image: url(https://i.imgur.com/wPVDry4.png);"></div>
            <article>
              <h1>San Diego Top Spots</h1>
              <span>REACT</span>
              <p>The goal of this project was to use an external web service to retrieve json data 
                and use a loop to render a template to populate a list of the top 30 spots to visit in San Diego.                   
              </p>
            </article>
          </a>
    </div>

    <div class="item-3">
        <a href="https://bp-react100sdtopspots.herokuapp.com/" class="card">
          <div class="thumb" style="background-image: url(https://i.imgur.com/wPVDry4.png);"></div>
          <article>
            <h1>Post title</h1>
            <span>REACT</span>
            <p>testing out some of the style for the p element. This text is longer than the first one! Now it's longer than the third</p>            
            
          </article>
        </a>
  </div>

  <div class="item-4">
      <a href="https://bp-react100sdtopspots.herokuapp.com/" class="card">
        <div class="thumb" style="background-image: url(https://i.imgur.com/wPVDry4.png);"></div>
        <article>
          <h1>Post title is very long on this one! Mhhhmmmmm!</h1>
          <p>testing out some of the style for the p element. This text is longer than the first one!</p>
        </article>
      </a>
    </div>
  </div>
</div>

<div class="parallaxthree"></div>

<div class="contact">
<h5 class="contactheader">Contact Me</h5>
<div class="contactform">
    <form action="/thanks" method="POST">
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">
  
      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
  
      <label for="email">Email:</label>
      <input id="email" name="email" type="text">
    
      <input class="submitbutton" type="submit" value="Submit">
    </form>
  </div>

</div>
    </body>
  </html>


  <!-- <label for="firstName">First Name:</label>
  <input id="firstName" name="firstName" type="text">

  <label for="lastName">Last Name:</label>
  <input id="lastName" name="lastName" type="text">

  <label for="email">Email:</label>
  <input id="email" name="email" type="text">

  <input type="submit" /> -->