<html>
    <head>
      <title> Brendan's Portfolio </title>
      <script type="text/javascript" src="jquery-3.2.1.min.js"></script>            
      <link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection"/>
      <script type="text/javascript" src="materialize.min.js"></script>      
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      
      <link rel="stylesheet" href="style.css" />

    </head>
    <body>
           
        <div>      
<ul>
  <li><a href="#home">Contact</a></li>
  <li><a href="#news">Projects</a></li>
  <li><a href="#contact">About</a></li>
  <li style="float:left"><a class="active">BRENDAN PRINZ</a></li>
</ul>
</div>

<div>
    
</div>

<div class="parallaxone"></div>

<div class= "aboutme">
    <h5>
        <!-- I am <%= person.firstName %> <%= person.lastName %> -->
        About Brendan
    </h5>
    <p class= "aboutmep">
    Creating engaging and practical websites/applications is exciting to me. 
    I love to learn and enjoy exploring new technologies and techniques to enhance my skillset as a web developer.
    In my free time I enjoy hiking, camping as well as editing photos and video I captured using my drone. 
    More things will go here...
    

    </p>
    </div>

<div class="parallaxtwo"></div>
       
<div class="projects">
  <h5>Collection of projects</h5>
  <div class="wrapper">
    <div class="one">
        <div class="card">
            <img src="https://i.imgur.com/wPVDry4.png" alt="Avatar" style="width:100%">
            <div class="container">
              <h4>
                <b>Project 1</b>
              </h4>
              <p>Project 1 description will go here...</p>
            </div>
          </div>
    </div>
    <div class="two">
        <div class="card">
            <img src="https://i.imgur.com/wPVDry4.png" alt="Avatar" style="width:100%">
            <div class="container">
              <h4>
                <b>Project 1</b>
              </h4>
              <p>Project 1 description will go here...</p>
            </div>
          </div>
    </div>
    <div class="three">
        <div class="card">
            <img src="https://i.imgur.com/wPVDry4.png" alt="Avatar" style="width:100%">
            <div class="container">
              <h4>
                <b>Project 1</b>
              </h4>
              <p>Project 1 description will go here...</p>
            </div>
          </div>
    </div>
    <div class="four">    <div class="card">
        <img src="https://i.imgur.com/wPVDry4.png" alt="Avatar" style="width:100%">
        <div class="container">
          <h4>
            <b>Project 1</b>
          </h4>
          <p>Project 1 description will go here...</p>
        </div>
      </div>
    </div>
    
    
    
  </div>
  <!-- <div class="container">
    <div class="row">
      <div class="column">
      <div class="card">
        <img src="https://i.imgur.com/wPVDry4.png" alt="Avatar" style="width:100%">
        <div class="container">
          <p>
            <b>San Diego Top Spots</b>
          </p>
          <p>This project was crazaaayy!! Put Heroku link HERE</p>
        </div>
      </div>
    </div>


      <div>
        <div class="column">
        <div class="card">
          <img src="https://i.imgur.com/wPVDry4.png" alt="Avatar" style="width:100%">
          <div class="container">
            <h4>
              <b>Project 1</b>
            </h4>
            <p>Project 1 description will go here...</p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div>
    <div class="card">
      <img src="https://i.imgur.com/wPVDry4.png" alt="Avatar" style="width:100%">
      <div class="container">
        <h4>
          <b>Project 1</b>
        </h4>
        <p>Project 1 description will go here...</p>
      </div>
    </div>
  
    <div class="card">
      <img src="https://i.imgur.com/wPVDry4.png" alt="Avatar" style="width:100%">
      <div class="container">
        <h4>
          <b>Project 1</b>
        </h4>
        <p>Project 1 description will go here...</p>
      </div>
    </div>
  </div>

</div>
    </body>
  </html>


