<html>
    <head>
      <title> Brendan's Portfolio </title>
      <script type="text/javascript" src="jquery-3.2.1.min.js"></script>            
      <link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection"/>
      <script type="text/javascript" src="materialize.min.js"></script>      
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      
      <link rel="stylesheet" href="style.css" />

    </head>
    <body>
            
        <div>      
<ul>
  <li><a href="#home">Contact</a></li>
  <li><a href="#news">Projects</a></li>
  <li><a href="#contact">About</a></li>
  <li style="float:left"><a class="active">BRENDAN PRINZ</a></li>
</ul>
</div>

<div>
    
</div>

<div class="parallax"></div>

<div style="height:300px;background-color:white;font-size:24px">
        <p>Scroll Up and Down this page to see the parallax scrolling effect.
        This div is just here to enable scrolling.
        Tip: Try to remove the background-attachment property to remove the scrolling effect.
        </p>
        <p>
                I am <%= person.firstName %> <%= person.lastName %> 
              </p> 
        </div>

<div class="parallax"></div>
       
<div style="height:300px;background-color:white;font-size:24px">
        <p>Scroll Up and Down this page to see the parallax scrolling effect.
        This div is just here to enable scrolling.
        Tip: Try to remove the background-attachment property to remove the scrolling effect.
        </p>
    </body>
  </html>


