<html>
    <head>
      <title> Brendan's Portfolio </title>
      <script type="text/javascript" src="jquery-3.2.1.min.js"></script>            
      <link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection"/>
      <script type="text/javascript" src="materialize.min.js"></script>      
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      
      <link rel="stylesheet" href="style.css" />
      <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
      <!-- <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script> -->
      <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>

    </head>
    <body>
           
        <div>      
<ul>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#projects">Projects</a></li>
  <li><a href="#aboutme">About</a></li>
  <li style="float:left"><a class="active">BRENDAN PRINZ</a></li>
</ul>
</div>

<div>
    
</div>

<div class="parallaxone"></div>

<div id= "aboutme">
    <h5>
        <!-- I am <%= person.firstName %> <%= person.lastName %> -->
        About Brendan
    </h5>
    <p class= "aboutmep">
    Creating engaging and practical websites/applications is exciting to me. 
    I love to learn and enjoy exploring new technologies and techniques to enhance my skillset as a web developer.
    In my free time I enjoy hiking, camping as well as editing photos and video I captured using my drone. 
    More things will go here...
    </p>
    <div>

      <a href="https://github.com/beeprinz" class="giticon">
      <i class="fab fa-github fa-3x"></i>
      </a>
      <a href="https://www.linkedin.com/in/brendan-prinz-5a68a2102/" class="inicon">
      <i class="fab fa-linkedin-in fa-3x"></i>
      </a>
    </div>
    </div>

<div class="parallaxtwo"></div>
       
<div id="projects">
  <h5 class="projectsheader">Collection of projects</h5>

  <div class="band">
      
       <!-- grid item, containing a card -->
       <div class="item-1">
             <a href="https://bp-f1circuitfinder.herokuapp.com/" class="card">
               <div class="thumb" style="background-image: url(http://ic.c4assets.com/brands/formula-1/series-2/episode-20/fe1b42cd-1d94-4ae4-8c9d-21d6e7273b6a.jpg?interpolation=progressive-bicubic&output-quality=90);"></div>
               <article>
                 <h1>Formula 1 Circuit Finder</h1>
                 <p>This project utilizes 2 seperate api's, google maps and eregast formula 1 database. 
                   I used the eregast api to pull data on the fomula 1 circuits around the world from the 2017 race season.
                   You can then select a track from the dropdown and then see its location on the google map window.
                 </p>
                 
               </article>
             </a>
       </div>
        
       <div class="item-2">
          <a href="https://bp-reduxmoviefinder.herokuapp.com/" class="card">
            <div class="thumb" style="background-image: url(https://i.imgur.com/VOHc1hD.png);"></div>
            <article>
              <h1>Redux Movie Finder</h1>
              <!-- <span>REACT</span> -->
              <p>Search for your favorite movies using this fun movie finder app that pulls movie data from the OMDb API. 
                 Search results are returned based on the title and include some basic information on the movie. 
                 Clicking the button for more information will pull additional data from the OMDb API on that specific movie.  
              </p>
            </article>
          </a>
    </div>

    <div class="item-3">
        <a href="https://bp-react100vstda.herokuapp.com/" class="card">
          <div class="thumb" style="background-image: url(https://grantcardonetv.com/wp-content/uploads/todo_list.jpg);"></div>
          <article>
            <h1>React To Do List</h1>
            <!-- <span>REACT</span> -->
            <p>This to do list app takes the user's input in the text area along with a priority level selection then saves the user's input onto a color coded list.
               The user can then choose to edit each item in the list and then save the new text and priority. They may also choose to delete their item from the list as well.
              </p>            
            
          </article>
        </a>
  </div>

  <div class="item-4">
      <a href="https://bp-weatherapp.herokuapp.com/" class="card">
        <div class="thumb" style="background-image: url(https://i.imgur.com/h0HZD6F.png);"></div>
        <article>
          <h1>Redux Weather App</h1>
          <p>This weather app was built using redux and utilizes the open weather map api. After selecting a city, live weather data will be requested from the open weather map api and the current conditions will be displayed. It will also display the history of the recent cities you selected.  
            </p>
        </article>
      </a>
    </div>
  </div>
</div>

<div class="parallaxthree"></div>

<div id="contact">
<h5 class="contactheader">Contact Me</h5>
<div class="contactform">
    <form action="/thanks" method="POST">
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">
  
      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
  
      <label for="email">Email:</label>
      <input id="email" name="email" type="text">
    
      <input class="submitbutton" type="submit" value="Submit">
    </form>
  </div>

</div>
    </body>
  </html>


  <!-- <label for="firstName">First Name:</label>
  <input id="firstName" name="firstName" type="text">

  <label for="lastName">Last Name:</label>
  <input id="lastName" name="lastName" type="text">

  <label for="email">Email:</label>
  <input id="email" name="email" type="text">

  <input type="submit" /> -->