<html>
        <head>
                <title> Brendan's Portfolio </title>
                <script type="text/javascript" src="jquery-3.2.1.min.js"></script>            
                <link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection"/>
                <script type="text/javascript" src="materialize.min.js"></script>      
                <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
                <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">      
                <link rel="stylesheet" href="style.css" />
                <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script> 
              </head>
    <body>
      <div>
        <div>
            <ul>
                <li>
                    <a href="#contact">Contact</a>
                </li>
                <li>
                    <a href="#projects">Projects</a>
                </li>
                <li>
                    <a href="#aboutme">About</a>
                </li>
                <li style="float:left">
                    <a class="active">BRENDAN PRINZ</a>
                </li>
            </ul>
        </div>
        <main class="portfolioContent">
        <h3>Portfolio Page</h3>
        <br />
        <h5 id="project-1">Pitch Portal</h5>
                <div class="projectList">
                        
                         <!-- grid item, containing a card -->
                         <div class="item-1">
                               <a href="#" class="card">
                                 <div class="thumb" style="background-image: url(https://i.imgur.com/CTeUSXY.png)"></div>
                               </a>
                         </div>
                          
                         <div class="item-2">
                            <a href="/#projects" class="card">
                                <div class="thumb" style="background-image: url(https://i.imgur.com/M46rMIz.png)"></div>
                            </a>
                      </div>
        </div>

        <section>
                <a href='/#indexItem-0' class="portButton" type="button">Back Home</a>
        </section>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non arcu tristique tellus consequat suscipit. Praesent porttitor cursus eros, non malesuada nulla accumsan et. Aliquam condimentum, neque in ullamcorper euismod, ex lectus imperdiet mi, sit amet pretium lorem justo non lectus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla molestie erat urna, eget suscipit magna convallis et. In lobortis orci eget est consequat vestibulum. Suspendisse varius leo ut diam viverra, a venenatis libero molestie. Etiam lobortis porta dui et rutrum. Duis quis dui aliquet, auctor velit molestie, hendrerit velit. Proin fermentum rutrum neque, eu elementum sapien tincidunt a. Sed feugiat, nisi a vulputate venenatis, augue dui congue velit, vitae ultricies neque nisi sed turpis. Maecenas eget suscipit justo. Quisque turpis tortor, consequat vel gravida sed, posuere ut lectus. Vivamus viverra velit eu eros blandit, et rutrum risus volutpat. Quisque fermentum ipsum a mi tincidunt, quis venenatis velit pretium.
                
                Cras ut lectus convallis urna gravida accumsan at a augue. Vestibulum ultricies, dolor ut pharetra convallis, nisi tellus luctus ipsum, et cursus quam justo nec elit. In pharetra nec sapien vitae bibendum. Cras ut ex magna. Aenean eget lorem ullamcorper, facilisis ante sit amet, ultrices urna. Nulla at lacus eu mauris vestibulum tristique. Etiam vitae erat nunc. Nullam ultricies nisi vestibulum turpis vehicula, bibendum porta tellus volutpat. Quisque blandit mollis sollicitudin. Donec ullamcorper elit nibh, vel pretium nisl pharetra suscipit. Proin porttitor pellentesque mauris, eu tristique nisi consequat non.</p>
                
                <br />
                <h5 id="project-2">Movie Finder</h5>
                <div class="projectList">
                        
                         <!-- grid item, containing a card -->
                         <div class="item-1">
                               <a href="#" class="card">
                                 <div class="thumb" style="background-image: url(https://i.imgur.com/F0iavWL.png)"></div>
                               </a>
                         </div>
                          
                         <div class="item-2">
                            <a href="/#projects" class="card">
                                <div class="thumb" style="background-image: url(https://i.imgur.com/VOHc1hD.png)"></div>
                            </a>
                      </div>
        </div>
        <section>
                <!-- <button id="js-trigger-overlay" type="button">Back Home</button> -->
                <a href='/#indexItem-1' class="portButton" type="button">Back Home</a>
                <a href='https://bp-reduxmoviefinder.herokuapp.com/' class="portButton" type="button">View Project</a>        </section>

        <!-- <section style = 'float:left; margin-left:20%;'>
                <button id="js-trigger-overlay" type="button">View Project</button>
        </section> -->
        <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non arcu tristique tellus consequat suscipit. Praesent porttitor cursus eros, non malesuada nulla accumsan et. Aliquam condimentum, neque in ullamcorper euismod, ex lectus imperdiet mi, sit amet pretium lorem justo non lectus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla molestie erat urna, eget suscipit magna convallis et. In lobortis orci eget est consequat vestibulum. Suspendisse varius leo ut diam viverra, a venenatis libero molestie. Etiam lobortis porta dui et rutrum. Duis quis dui aliquet, auctor velit molestie, hendrerit velit. Proin fermentum rutrum neque, eu elementum sapien tincidunt a. Sed feugiat, nisi a vulputate venenatis, augue dui congue velit, vitae ultricies neque nisi sed turpis. Maecenas eget suscipit justo. Quisque turpis tortor, consequat vel gravida sed, posuere ut lectus. Vivamus viverra velit eu eros blandit, et rutrum risus volutpat. Quisque fermentum ipsum a mi tincidunt, quis venenatis velit pretium.
                
                Cras ut lectus convallis urna gravida accumsan at a augue. Vestibulum ultricies, dolor ut pharetra convallis, nisi tellus luctus ipsum, et cursus quam justo nec elit. In pharetra nec sapien vitae bibendum. Cras ut ex magna. Aenean eget lorem ullamcorper, facilisis ante sit amet, ultrices urna. Nulla at lacus eu mauris vestibulum tristique. Etiam vitae erat nunc. Nullam ultricies nisi vestibulum turpis vehicula, bibendum porta tellus volutpat. Quisque blandit mollis sollicitudin. Donec ullamcorper elit nibh, vel pretium nisl pharetra suscipit. Proin porttitor pellentesque mauris, eu tristique nisi consequat non.</p>
            </div>
            </main>
        
      </div>
    </body>
  </html>